---
layout: default
title: Intro to Programming in JavaScript
description: Master programming fundamentals in the world's most useful programming language, JavaScript. Read more here.
---
<section class="intro-section intro-section--course" data-image="/assets/images/classroom.jpg" data-width="1500" data-height="994">
  <div class="section-content">
    <h1 class="intro-section__headline">JavaScript<br>Part-Time</h1>
    <p class="intro-section__links">
        <a class="intro-section__link" href="#" data-reveal-id="application-form">Apply Now</a>
    </p>
  </div>
</section>

<section class="course-about">
  <div class="section-content">
    <h1 class="course-about__heading">Learn the fundamentals of programming and JavaScript</h1>
    <p class="course-about__subheading">Two nights a week for 10 weeks</p>
    <p class="course-about__price">$1,495</p>

    <ul class="course-about__points">
      <li class="course-about__point">
        <img class=course-about__icon" src="/assets/images/about-schedule.png">
        <p>
          10 weeks<br>
          Two nights a week<br>
          Weekly TA sessions
        </p>
      <li class="course-about__point">
      <img class=course-about__icon" src="/assets/images/personalized-help.png">
        <p>Get hands-on help from our awesome instructors and TA's</p>
      <li class="course-about__point">
      <img class=course-about__icon" src="/assets/images/about-website.png">
        <p>You will learn to program &amp; deploy your own web apps!</p>
    </ul>
  </div>
</section>

<section class="who-should-apply">
  <div class="section-content">
    <h1 class="who-should-apply__heading">Who should apply?</h1>
    <p class="who-should-apply__intro">
      Bottom line, our intro to programming is perfect for anyone who wants to write code and make things do stuff. If you like doing stuff and making things, we'll give you a solid base in programming, and enough practical coding skills to make you epicly dangerous.
    </p>
    <p class="who-should-apply__faces">
      <img class="who-should-apply__face" src="/assets/images/who-woman.png">
      <img class="who-should-apply__face" src="/assets/images/who-man.png">
    </p>
    <p class="who-should-apply__great-for-heading">This course is great for:</p>
    <ul class="who-should-apply__great-for-list">
      <li class="who-should-apply__great-for-item"><span class="who-should-apply__great-for-profile">Designers who wants to make their web pages come alive with interactivity</li>
      <li class="who-should-apply__great-for-item"><span class="who-should-apply__great-for-profile">Entrepreneurs</span> looking to build an MVP</li>
      <li class="who-should-apply__great-for-item"><span class="who-should-apply__great-for-profile">Product Managers</span> who want to better understand their technical team</li>
      <li class="who-should-apply__great-for-item"><span class="who-should-apply__great-for-profile">Prospective full-time students who want a leg up in programming skills</li>
      <li class="who-should-apply__great-for-item"><span class="who-should-apply__great-for-profile">Full-Time Employees</span> who can't quit their day job (yet)</li>
      <li class="who-should-apply__great-for-item"><span class="who-should-apply__great-for-profile">Anyone who wants to leverage the power of code to get things done.</li>
    </ul>
    <p class="who-should-apply__not-sure">
      Not sure if this course is for you?<br>
      <a href="mailto:hello@decodemtl.com">Contact Us</a> and we will point you in the right direction.
    </p>
  </div>
</section>

<section class="what-will-learn">
  <div class="section-content">
    <h1 class="what-will-learn__heading">What you will learn</h1>
    <p class="what-will-learn__text">
      JavaScript is the programming language of the Web browser, and has spread to other domains, from robotics to servers. Its ubiquity, necessity for Web developers, and ease of deployment - make JavaScript a must-learn language.

      Not only do you have to know it to be a modern software developer, but JavaScript is also immediately useful in the hands of a beginner, making it a great first programming language.
    </p>
    <p class="what-will-learn__text">
      In this course you will learn the fundamentals of programming, as well as the fundamentals of JavaScript and its unique asynchronous programming model. We'll progress from making interactive command-line programs, to building our own messaging clients and chat bots, and walk away having learnt to build real-time connected apps on the server and Web browser.
    </p>
  </div>
</section>

<section class="curriculum">
  <div class="section-content">
    <h1 class="curriculum__heading">Curriculum</h1>
    <div class="course-curriculum">
      {% for unit in site.data.intro_programming_curriculum.units %}
      <input id="course-curriculum__checkbox--unit{{forloop.index}}" class="course-curriculum__checkbox" type="radio" name="course-curriculum__checkbox">
      <div class="course-curriculum__unit">
        <label class="course-curriculum__header" for="course-curriculum__checkbox--unit{{forloop.index}}">
          <span class="course-curriculum__unit-number">Unit {{forloop.index}}</span>
          <span class="course-curriculum__unit-name">{{unit.name}}</span>
        </label>
        <div class="course-curriculum__content">
          {% for contentItem in unit.content %}
          {% case contentItem.type %}
          {% when 'list' %}
          <ul>
            {% for listItem in contentItem.items %}
            <li>{{listItem}}</li>
            {% endfor %}
          </ul>
          {% when 'paragraph' %}
          <p>{{contentItem.text}}</p>
          {% endcase %}
          {% endfor %}
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

<section class="instructor">
  <div class="section-content">
    <h1 class="instructor__heading">Meet your instructor</h1>
    <article class="instructor-bio">
      <img class="instructor-bio__pic" src="/assets/images/stasi.jpg" alt="Anastasi Bakolias">

      <div class="instructor-bio__text">
        &nbsp;
        <h1 class="instructor-bio__name">Anastasi Bakolias</h1>

        <p class="instructor-bio__title">
          <!--<nobr>Developer</nobr>-->
        </p>
        <p class="instructor-bio__text">
          Anastasi is a software developer and co-founder at smooch.io. He fell deeply in love with programming, and he wants you to too.
        </p>
      </div>
    </article>
  </div>
</section>

<section class="course-faq">
  <div class="section-content">
    <h1 class="course-faq__heading">Your questions answered</h1>
    <div class="faq-list">
      {% for qa in site.data.faq.list %}
      <input id="faq-list__checkbox--q{{forloop.index}}" class="faq-list__checkbox" type="radio" name="faq-list__checkbox">
      <div class="faq-list__question">
        <label class="faq-list__header" for="faq-list__checkbox--q{{forloop.index}}">
          {{qa.question}}
        </label>
        <div class="faq-list__content">
          <p>{{qa.answer}}</p>
        </div>
      </div>
      {% endfor %}
    </div>
    <p class="course-faq__still-questions">Still have questions? <a href="mailto:hello@decodemtl.com">Contact Us</a>.
    </p>
  </div>
</section>

<section class="upcoming-courses">
  <div class="section-content upcoming-courses__upcoming">
    <div class="upcoming-courses__heading">August 2016</div>
    <ul class="upcoming-courses__list">
      <li class="upcoming-courses__item">
        <p class="upcoming-courses__info">$1,495</p>
        <p class="upcoming-courses__info">August 15th - October 19th</p>

        <p class="upcoming-courses__info">Monday &amp; Wednesday from
          <br><nobr>6:00pm - 9:00pm</nobr>
        </p>
      </li>
    </ul>
    <a class="upcoming-courses__reserve" href="#" data-reveal-id="application-form">Apply Now</a>
  </div>

  <div class="section-content upcoming-courses__upcoming">
    <div class="upcoming-courses__heading">December 2016</div>
    <ul class="upcoming-courses__list">
      <li class="upcoming-courses__item">
        <p class="upcoming-courses__info">$1,495</p>

        <p class="upcoming-courses__info">Dates to be determined</p>

        <p class="upcoming-courses__info">Monday &amp; Wednesday from
          <br><nobr>6:00pm - 9:00pm</nobr>
        </p>
      </li>
    </ul>
    <a class="upcoming-courses__reserve" href="#" data-reveal-id="application-form">Apply Now</a>
  </div>

</section>


<div id="application-form" class="application-form reveal-modal xlarge" data-reveal>
  <div class="application-form__content">
    <img class="application-form__logo" src="/assets/images/decodemtl-logo-black.png">

    <form class="application-form__form">
      <div class="application-form__input-line">
        <label class="application-form__label">First Name</label>
        <input class="application-form__input" type="text" name="firstName">
      </div>
      <div class="application-form__input-line">
        <label class="application-form__label">Last Name</label>
        <input class="application-form__input" type="text" name="lastName">
      </div>
      <div class="application-form__input-line">
        <label class="application-form__label">Email Address</label>
        <input class="application-form__input" type="text" name="emailAddress">
      </div>
      <div class="application-form__input-line">
        <label class="application-form__label">Twitter ID</label>
        <input class="application-form__input" type="text" name="twitterId">
      </div>

      <div class="application-form__input-line">
        <label class="application-form__label">Linkedin Profile URL</label>
        <input class="application-form__input" type="text" name="linkedinUrl">
      </div>
      <div class="application-form__input-line">
        <label class="application-form__label">Where do you live?</label>
        <input class="application-form__input" type="text" name="whereLive">
      </div>
      <div class="application-form__input-line">
        <label class="application-form__label">What is your current occupation?</label>
        <input class="application-form__input" type="text" name="currentOccupation">
      </div>
      <div class="application-form__input-line">
        <label class="application-form__label">Phone Number</label>
        <input class="application-form__input" type="text" name="phoneNumber">
      </div>
      <div class="application-form__input-line">
        <label class="application-form__label">What course are you applying to?</label>

        <div class="application-form__input">
          <label class="application-form__radio-label">
            <input type="radio" name="applyingTo" value="Introduction to Programming (August 2016)">
            <span class="application-form__radio-text">Part-Time (September 2016)</span>
          </label>
          <label class="application-form__radio-label">
            <input type="radio" name="applyingTo" value="Introduction to Programming (December 2016)">
            <span class="application-form__radio-text">Part-Time (Spring 2017)</span>
          </label><br>
          <label class="application-form__radio-label">
            <input type="radio" name="applyingTo" value="Full-Time (July 2016)">
            <span class="application-form__radio-text">Full-Time (July 2016)</span>
          </label>
          <label class="application-form__radio-label">
            <input type="radio" name="applyingTo" value="Full-Time (October 2016)">
            <span class="application-form__radio-text">Full-Time (October 2016)</span>
          </label>
        </div>
      </div>
      <div class="application-form__input-line">
        <label class="application-form__label">How did you hear about us?</label>
        <input class="application-form__input" type="text" name="leadSource">
      </div>
      <div class="application-form__input-line">
        <label class="application-form__label">Why are you applying to DecodeMTL?</label>
        <textarea class="application-form__input" name="whyApplying"></textarea>
      </div>
      <div class="application-form__input-line">
        <label class="application-form__label">What is your education background?</label>
        <textarea class="application-form__input" name="education"></textarea>
      </div>
      <div class="application-form__input-line">
        <label class="application-form__label">What hobbies do you have? What are you passionate about in life?</label>
        <textarea class="application-form__input" name="hobbies"></textarea>
      </div>
      <div class="application-form__input-line">
        <label class="application-form__label">What do you want to do after completing the program?</label>
        <textarea class="application-form__input" name="plans"></textarea>
      </div>
      <div class="application-form__input-line">
        <label class="application-form__label">What is your programming background?</label>

        <div class="application-form__input">
          <label class="application-form__radio-label">
            <input type="radio" name="codingBackground" value="no-coding">
            <span class="application-form__radio-text">No programming experience, basic computer skills</span>
          </label>
          <label class="application-form__radio-label">
            <input type="radio" name="codingBackground" value="some-coding">
            <span class="application-form__radio-text">Some programming. Familiar with variables, functions, loops and conditionals</span>
          </label>
          <label class="application-form__radio-label">
            <input type="radio" name="codingBackground" value="moderate-coding">
            <span class="application-form__radio-text">Moderate programming. I've taken a course or written some intense Excel macros.</span>
          </label>
          <label class="application-form__radio-label">
            <input type="radio" name="codingBackground" value="intermediate-coding">
            <span class="application-form__radio-text">Intermediate programming. I know teh codes. I write programs professionally, or am an incredibly zealous and disciplined amateur.</span>
          </label>
        </div>
      </div>
      <button type="button" class="application-form__send-button">Send</button>
    </form>
  </div>
  <a class="close-reveal-modal">&times;</a>
</div>
