<div id="application-form" class="application-form reveal-modal xlarge" data-reveal>
  <div class="application-form__content">
    <img class="application-form__logo" src="/assets/images/decodemtl-logo-black.png">

    <form class="application-form__form">
      <div class="application-form__input-line">
        <label class="application-form__label">First Name</label>
        <input class="application-form__input" type="text" name="firstName">
      </div>
      <div class="application-form__input-line">
        <label class="application-form__label">Last Name</label>
        <input class="application-form__input" type="text" name="lastName">
      </div>
      <div class="application-form__input-line">
        <label class="application-form__label">Email Address</label>
        <input class="application-form__input" type="text" name="emailAddress">
      </div>
      <div class="application-form__input-line">
        <label class="application-form__label">Twitter ID</label>
        <input class="application-form__input" type="text" name="twitterId">
      </div>

      <div class="application-form__input-line">
        <label class="application-form__label">Linkedin Profile URL</label>
        <input class="application-form__input" type="text" name="linkedinUrl">
      </div>
      <div class="application-form__input-line">
        <label class="application-form__label">Where do you live?</label>
        <input class="application-form__input" type="text" name="whereLive">
      </div>
      <div class="application-form__input-line">
        <label class="application-form__label">What is your current occupation?</label>
        <input class="application-form__input" type="text" name="currentOccupation">
      </div>
      <div class="application-form__input-line">
        <label class="application-form__label">Phone Number</label>
        <input class="application-form__input" type="text" name="phoneNumber">
      </div>
      <div class="application-form__input-line">
        <label class="application-form__label">What course are you applying to?</label>

        <div class="application-form__input">
          {% for course in site.data.courses %}
          <label class="application-form__radio-label">
            <input type="radio" name="applyingTo" value="{{course}}">
            <span class="application-form__radio-text">{{course}}</span>
          </label>
          {% endfor %}
        </div>
      </div>
      <div class="application-form__input-line">
        <label class="application-form__label">How did you hear about us?</label>
        <input class="application-form__input" type="text" name="leadSource">
      </div>
      <div class="application-form__input-line">
        <label class="application-form__label">Why are you applying to DecodeMTL?</label>
        <textarea class="application-form__input" name="whyApplying"></textarea>
      </div>
      <div class="application-form__input-line">
        <label class="application-form__label">What is your education background?</label>
        <textarea class="application-form__input" name="education"></textarea>
      </div>
      <div class="application-form__input-line">
        <label class="application-form__label">What hobbies do you have? What are you passionate about in life?</label>
        <textarea class="application-form__input" name="hobbies"></textarea>
      </div>
      <div class="application-form__input-line">
        <label class="application-form__label">What do you want to do after completing the program?</label>
        <textarea class="application-form__input" name="plans"></textarea>
      </div>
      <div class="application-form__input-line">
        <label class="application-form__label">What is your programming background?</label>

        <div class="application-form__input">
          <label class="application-form__radio-label">
            <input type="radio" name="codingBackground" value="no-coding">
            <span class="application-form__radio-text">No programming experience, basic computer skills</span>
          </label>
          <label class="application-form__radio-label">
            <input type="radio" name="codingBackground" value="some-coding">
            <span class="application-form__radio-text">Some programming. Familiar with variables, functions, loops and conditionals</span>
          </label>
          <label class="application-form__radio-label">
            <input type="radio" name="codingBackground" value="moderate-coding">
            <span class="application-form__radio-text">Moderate programming. I've taken a course or written some intense Excel macros.</span>
          </label>
          <label class="application-form__radio-label">
            <input type="radio" name="codingBackground" value="intermediate-coding">
            <span class="application-form__radio-text">Intermediate programming. I know teh codes. I write programs professionally, or am an incredibly zealous and disciplined amateur.</span>
          </label>
        </div>
      </div>
      <button type="button" class="application-form__send-button">Send</button>
    </form>
  </div>
  <a class="close-reveal-modal">&times;</a>
</div>
