.about-page {
  text-align: center;

  &__heading {
    @include section-heading;
  }

  &__text {
    font-size: 8px;
  }
}

.meet-the-team {
  text-align: center;

  &__heading {
    @include section-heading;
  }

  &__members {
    max-width: 300px;
    margin: 0 auto;
    list-style: none;

    @media #{$medium-up} {
      max-width: none;
      @include block-grid(3, 20px);
    }
  }

  &__member-name {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 0;
  }
  &__member-hello {
    font-size: 20px;
    margin-top: 0;
    a {
      padding: 8px;
    }
  }
}
