.about {
  $border-bottom-size: 4px;
  
  padding-bottom: 50px;
  border-bottom: $border-bottom-size solid #000;
  position: relative;
  
  &:after {
    $size: 15px;
    
    content: "";
    position: absolute;
    bottom: -($size * 2 + $border-bottom-size);
    left: 50%;
    margin-left: -$size;
    border-width: $size;
    border-style: solid;
    border-color: #000 transparent transparent transparent;
  }
}
.about-points {
  margin-top: 60px;
  
  &__item {
    max-width: 350px;
    margin: 0 auto 30px;
  }
  &__heading {
    border-bottom: 1px solid #000;
    text-transform: uppercase;
    font-size: 20px;
    display: table;
    margin: 0 auto;
    text-align: center;
  }
  
  &__icon {
    display: block;
    text-align: center;
    font-family: 'decodemtl';
    font-weight: normal;
    font-style: normal;
    font-size: 120px;
    color: #000;
    line-height: 1;
    margin: 20px 0;
  }
  &__icon--laptop:after {
    content: "\e807";
  }
  &__icon--lightbulb:after {
    content: "\e808";
  }
  &__icon--checkmark:after {
    content: "\e80a";
  }
  
  &__content {
    font-size: 14px;
    text-align: center;
  }
}

@media #{$medium-up} {
  .about-points {
    overflow: hidden;
    
    &__item {
      float: left;
      width: 33.333%;
      padding: 0 30px;
      margin: 0;
      max-width: none;
    }
  }
}