.intro-section {

  &--about {
    padding-top:220px;
    padding-bottom:220px;
    height: 100vh;
    background-size: cover;
  }

}

.about-page {
  text-align: center;

  &__heading {
    @include section-heading;
  }

  &__text {
    font-size: 20px;
  }

}