.courses-section {
  font-size: 16px;
  padding: 3em 0;

  &__headline {
    font-size: 1.5em;
    text-align: center;

    margin: 0 auto 3.5em;
  }

  &__intro {
    margin: 0;
    text-align: center;
    font-size: 1em;
  }

  &__separator {
    height: 0;
    border: none;
    border-bottom: 1px solid #eee;
    margin: 3.5em 0;
  }

  &__title {
    font-weight: 300;
    text-align: center;
    font-size: 1.5em;
  }

  @media #{$medium-up} {
    font-size: 22px;
  }

  @media #{$large-up} {
    font-size: 24px;
  }
}

.course-list {
  @include grid-row;

  &__course {
    text-align: center;

    &:before {
      content: "";
      display: block;
      width: 128px;
      height: 128px;
      margin: 0 auto 1em;
    }

    @media #{$medium-up} {
      @include grid-column(6);
    }
  }

  &__course--full-time:before {
    background-image: url(../images/full-time.png);
  }
  &__course--part-time:before {
    background-image: url(../images/part-time.png);
  }

  &__course-title {
    font-size: 1.5em;
    font-weight: 400;
    text-transform: uppercase;

    margin: 0 0 1em;
  }

  &__course-description {
    font-size: 0.8em;
    margin: 0 0 1.8em;
  }

  &__more-info {
    font-size: 0.6em;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
    color: #fff;
    background-color: #D60707;
    padding: 1em 1.25em;
    display: table;
    margin: 0 auto 3em;

    @media #{$medium-up} {
      margin: 0 auto;
    }
  }
}