.course-about {
  text-align: center;

  &__heading {
    @include section-heading;
    margin: 0;
    font-weight: 400;
  }

  &__subheading{
    text-transform: uppercase;
    margin: 0;
    font-size: 1.5em;
  }
  
  &__price {
    font-weight: bold;
    margin: 0;
    font-size: 1.5em;
  }

  &__points {
    list-style: none;
    font-weight: normal;
    text-transform: uppercase;
    line-height: 1.5;
    margin: 3em 0;

    @media #{$large-up} {
      font-size: 20px;
    }
  }

  &__point {
    vertical-align: top;
    max-width: 400px;
    margin: 0 auto 1em;

    @media #{$medium-up} {
      display: inline-block;
      padding: 0 10px;
      margin-bottom: 0;
      max-width: none;
      width: 33.333%;
    }
    @media #{$large-up} {
      padding: 0 25px;
    }
  }
}