.course-faq {
  &__heading {
    @include section-heading;
    text-align: center;
  }

  &__still-questions {
    font-size: 20px;
    text-align: center;
  }
}
.faq-list {
  max-width: 850px;
  margin: 0 (-$section-content-padding) 50px;

  &__checkbox {
    display: none;
  }

  &__question {
    position: relative;
    border-bottom: 1px solid #eee;
    overflow: hidden;
  }

  &__question:before {
    content: "\203a";
    font-size: 40px;
    line-height: 1;
    position: absolute;
    top: 15px;
    right: 5px;
    pointer-events: none;
    @include transform(rotateZ(90deg));
    @include transition(transform 250ms ease-in-out);
  }

  &__header {
    display: block;
    padding: 20px 30px 20px 0;
    cursor: pointer;
    font-size: 18px;
    @include no-tap-highlight;

    @media #{$medium-up} {
      font-size: 22px;
    }
  }

  &__content {
    display: none;
    padding: 0 10px;
  }

  &__checkbox:checked + &__question:before {
    @include transform(rotateZ(270deg));
  }
  &__checkbox:checked + &__question > &__content {
    display: block;
  }

  @media #{$medium-up} {
    margin: 0 auto 50px;
  }
}