.intro-section {
  padding-top: 100px;
  padding-bottom: 100px;
  
  .touch & {
    background-image: url(../images/laptop.jpg);
    background-size: cover;
    background-position: 50%;
  }
  
  &__heading-group {
    color: #fff;
    font-weight: bold;
    font-family: $sans-serif;
    text-shadow: 0 3px 0 #000;
    max-width: 800px;
    margin: 0 auto 50px;
    text-align: center;
    font-size: 30px;
    line-height: 1.1;
    text-transform: uppercase;
  }
  
  &__headline {
    font-size: 1em;
    margin: 0 0 10px;
  }
  &__tagline {
    margin: 0;
    font-size: 0.5em;
  }
  
  &__apply-link {
    display: block;
    max-width: 250px;
    margin: 0 auto;
    text-align: center;
    background-color: $decode-red;
    color: #fff;
    line-height: 1;
    padding: 10px 0;
    border-bottom: 3px solid #000;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 24px;
  }
  
  &__course-location {
    display: table;
    position: relative;
    margin: 70px auto 0;
    background-color: #fff;
    padding: 5px 15px;
    font-size: 12px;
    color: #000;
    font-family: sans-serif;
    font-weight: bold;
    border-radius: 5px;
  }
  &__course-location:before {
    content: "\e809";
    font-family: 'decodemtl';
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 1;
  }
}
@media #{$medium-up} {
  .intro-section {
    &__heading-group {
      font-size: 50px;
    }
  }
}
@media #{$large-up} {
  .intro-section {
    position: relative;
    padding-top: 220px;
    padding-bottom: 200px;
    
    &__heading-group {
      font-size: 80px;
      line-height: 1.1;
    }
    
    &__apply-link {
      font-size: 30px;
    }
    
    &__course-location {
      position: absolute;
      bottom: 0;
      right: 40px;
      padding: 10px 15px;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
    &__course-location:before {
      color: #fff;
      display: block;
      position: absolute;
      top: -50px;
      left: 50%;
      margin-left: -20px;
      font-size: 40px;
    }
  }
}