.intro-section {
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;
  color: #fff;
  text-align: center;
  line-height: 1;

  &--course.intro-section {
    padding-top: 150px;
    padding-bottom: 150px;

    .touch & {
      background-image: url(../images/classroom.jpg);
    }

    & .intro-section__headline {
      line-height: 1.4;
      font-family: cursive;
    }
  }
  
  .touch & {
    background-image: url(../images/classroom-door.jpg);
    background-size: cover;
    background-position: 50%;
  }

  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(32, 26, 32, 0.7);
    z-index: 0;
  }

  & > .section-content {
    position: relative;
  }

  &__headline {
    font-weight: 300;
    font-size: 36px;
    margin: 0;
  }

  &__tagline {
    color: rgba(255,255,255, 0.75);
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 3px;
    text-transform: uppercase;

    padding: 0 30px;
    margin: 1.5em 0;
  }

  &__link {
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    text-decoration: none;
    text-transform: uppercase;

    display: inline-block;
    margin: 0.5em 0.75em;
    padding: 0.75em 1.25em;
    border: 2px solid #fff;
    min-width: 130px;

    opacity: 0.6;
    @include transition(background-color 0.25s ease-in);

    .no-touch &:hover {
      background-color: rgba(200,200,200, 0.5);
    }
  }

  @media #{$medium-up} {
    padding-top: 220px;
    padding-bottom: 200px;

    &__headline {
      font-size: 90px;
    }

    &__tagline {
      font-size: 20px;
    }

    &__link {
      margin: 0 0.75em;
    }
  }
}
