.section-content--footer {
  overflow: hidden;
}

.main-footer {
  padding: 20px 0;
  background-color: #000;
  color: #fff;
  
  &__above {
    overflow: hidden;
  }
  
  &__logo {
    max-width: 500px;
    margin: 0 auto;
  }
  &__logo-image {
    display: block;
  }
  
  &__info {
    margin: 0;
    font-size: 14px;
    float: left;
    width: 50%;
  }
  &__info-key {
    text-transform: uppercase;
    color: #ccc;
  }
  &__info-value {
    margin: 0;
    font-family: $sans-serif;
  }

  &__link {
    color: $decode-red;
  }
  
  &__copyright {
    clear: both;
    margin-top: 15px;
    border-top: 1px solid #999;
    padding-top: 15px;
    color: #999;
    text-align: center;
    font-family: $sans-serif;
  }
}

@media #{$medium-up} {
  .main-footer {
    &__logo {
      float: left;
      width: 60%;
      padding-right: 20px;
    }
    
    &__info {
      width: 20%;
    }
  }
}
