.main-header {
  background-color: #000;
  color: #fff;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 5px 10px rgba(0,0,0, 0.75);
  
  &__logo {
    float: left;
  }
  &__logo-image {
    width: 250px;
  }
  
  &__nav-burger-icon {
    display: block;
    float: right;
    border-top: 15px double #fff;
    border-bottom: 5px solid #fff;
    padding-top: 5px;
    margin-top: 10px;
    margin-right: 10px;
    width: 30px;
    cursor: pointer;
    @include no-tap-highlight;
  }
  &__nav-checkbox {
    display: none;
  }
  &__nav {
    clear: both;
  }
  &__nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: none;
    overflow: hidden;
  }
  &__nav-checkbox:checked + &__nav-list {
    display: block;
  }
  &__nav-item {
    text-align: center;
    margin: 10px 0;
  }
  &__nav-link {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 18px;
  }
}

.language-switcher-wrapper {
  position: relative;
}
.language-switcher {
  position: absolute;
  left: 0;
  top: 0;
  list-style: none;
  margin: 0;
  padding: 8px;
  background-color: #000;
  line-height: 1;

  &__item {
    float: left;
    padding: 0 10px;
    border-right: 1px solid #fff;

    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      padding-right: 0;
      border-right: none;
    }
  }

  &__link {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
  }
}

@media #{$large-up} {
  .main-header {
    $height: 55px;
    
    height: $height;
    
    &__logo-image {
      width: auto;
      height: $height;
    }
    &__nav-burger-icon {
      display: none;
    }
    &__nav {
      float: right;
      clear: none;
      height: $height;
    }
    &__nav-list {
      display: block;
      height: 100%;
    }
    &__nav-item {
      float: left;
      margin: 0;
      height: 100%;
      line-height: $height;
    }
    &__nav-link {
      display: block;
      padding: 0 10px;
      height: 100%;
    }
    &__nav-item--apply &__nav-link {
      background-color: $decode-red;
    }
  }
}