.upcoming-courses {
  text-align: center;
  @include grid-row();

  &__upcoming {
    @include grid-column(6);
  }

  &__heading {
    @include section-heading;
  }

  &__list {
    margin: 0 0 40px;
    list-style-type: none;
  }

  &__info {
    font-size: 16px;

    @media #{$large-up} {
      font-size: 18px;
    }
  }

  &__reserve {
    border: 2px solid #000;
    text-transform: uppercase;
    font-size: 18px;
    display: inline-block;
    padding: 16px;
    color: #000;
    @include transition(background-color 300ms ease-in, color 300ms ease-in);

    &:hover {
      background-color: #000;
      color: #fff;
    }
  }
}

#full {
  color:darkred;
}