@charset "UTF-8";

@import "bourbon/bourbon";
@import "settings";
@import "normalize";
@import "foundation/components/block-grid";
@import "foundation/components/grid";
@import "foundation/components/reveal";
@import "vendor/hw-parallax";

@import "general";
@import "main-header";
@import "intro-section";
@import "courses-section";
@import "course-about";
@import "faq-section";
@import "application-form";
@import "main-footer";
@import "who-should-apply";
@import "what-will-learn";
@import "upcoming-courses";
@import "instructor";
@import "about-page";
@import "curriculum";
@import "on-demand";

.events-list {
  list-style: none;
}
.event-item {
  &__title {
    font-weight: 400;
    border-bottom: 1px solid #aaa;
  }
  &__subtitle {
    margin-top: 0;
  }
  &__details {
    overflow: hidden;
  }
  &__pic {
    display: none;

    @media screen and (min-width: 801px) {
      display: block;
      float: left;
      margin-right: 1em;
      width: 200px;
    }
  }
  &__description {
    overflow: hidden;
  }

  &__content {
    ul {
      padding-left: 2em;

    }
  }

  &__register-button {
    color: white;
    background-color: black;
    padding: 1em;
    line-height: 1;
    display: table;
    margin: auto;
  }
}
