@charset "UTF-8";

@import "bourbon/bourbon";
@import "settings";
@import "normalize";
@import "foundation/components/block-grid";
@import "foundation/components/grid";
@import "foundation/components/reveal";
@import "vendor/hw-parallax";

@import "general";
@import "main-header";
@import "intro-section";
@import "courses-section";
@import "course-about";
@import "faq-section";
@import "application-form";
@import "main-footer";
@import "who-should-apply";
@import "what-will-learn";
@import "upcoming-courses";
@import "instructor";
@import "about-page";