<!doctype html>
<html lang="{% if page.lang %}{{ page.lang }}{% else %}en{% endif %}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="description" content="{% if page.description %}{{ page.description | strip_newlines | xml_escape }}{% else %}{{ site.description | strip_newlines | xml_escape}}{% endif %}">
    <title>{% if page.title %}{{ page.title | xml_escape }}{% else %}{{ site.title | xml_escape }}{% endif %} | DecodeMTL</title>
    <link rel="icon" type="image/png" href="/assets/images/decodemtl-favicon-64.png">
    <meta property="og:image" content="http://www.decodemtl.com/assets/images/decodemtl-favicon-large.png">
    <link rel="stylesheet" href="/assets/css/app.css">
    <link href='//fonts.googleapis.com/css?family=Lato:100,300,400,900' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <script src="/assets/js/modernizr.js"></script>
</head>
<body class="{{page.bodyClass}}">
<input class="main-nav__checkbox" type="checkbox" id="main-nav__checkbox">
<header class="main-header">
  <div class="main-header__logo">
      <a href="/fr"><img class="main-header__logo-image" src="/assets/images/decodemtl-logo-white.png"></a>
  </div>
  <label class="main-nav__burger-icon" for="main-nav__checkbox"></label>
  <nav class="main-header__nav main-nav">
    <ul class="main-nav__list">
      <li class="main-nav__item">
        <a class="main-nav__link" href="/fr">Accueil</a>
      </li>
      <li class="main-nav__item">
        <a href="javascript:void(0)" class="main-nav__link">Cours</a>
        <ul class="main-nav__sub-nav main-nav__sub-nav--right">
          <li class="main-nav__sub-nav-item">
            <a class="main-nav__sub-nav-link" href="/fr/web-development-full-time">Temps Plein</a>
          </li>
          <li class="main-nav__sub-nav-item">
            <a class="main-nav__sub-nav-link" href="/fr/web-development-part-time">Temps Partiel</a>
          </li>
        </ul>
      </li>
      <li class="main-nav__item">
        <a class="main-nav__link" href="/fr/events">Événements</a>
      </li>
      <li class="main-nav__item">
        <a class="main-nav__link" href="/fr/about">À propos</a>
      </li>
      <li class="main-nav__item">
        <a class="main-nav__link main-nav__link--contact" href="mailto:hello@decodemtl.com">Contact</a>
      </li>
      <li class="main-nav__item">
        <a class="main-nav__link main-nav__link" href="/">EN</a>
      </li>
    </ul>
  </nav>
</header>

{{ content }}

<footer class="main-footer">
  <h1 class="main-footer__subscribe-heading">Infolettre</h1>
  <p class="main-footer__subscribe-instructions">
    Abonnez-vous à notre infolettre pour rester informés sur nos cours et événements.
  </p>
  <!-- Begin MailChimp Signup Form -->
  <div id="mc_embed_signup">
    <form class="main-footer__subscribe-form" action="//decodemtl.us9.list-manage.com/subscribe/post?u=26336ef421ad48ecc3fba5376&amp;id=47aff20fae" method="post" target="_blank">
      <div style="position: absolute; left: -5000px;"><input type="text" name="b_26336ef421ad48ecc3fba5376_47aff20fae" tabindex="-1" value=""></div>
      <input class="main-footer__subscribe-input" placeholder="Prénom" type="text" name="FNAME">
      <input class="main-footer__subscribe-input" placeholder="Nom de famille" type="text" name="LNAME">
      <input class="main-footer__subscribe-input" placeholder="Adresse e-mail" type="email" name="EMAIL" required>
      <button class="main-footer__subscribe-button" type="submit">S'enregistrer</button>
    </form>
  </div>
  <!--End mc_embed_signup-->

  <div class="main-footer__social">
      <div class="main-footer__facebook"><a href="https://www.facebook.com/decodemtl" target="_blank"><i class="fa fa-facebook-square fa-2x"></i></a></div>
      <div class="main-footer__twitter"><a href="https://twitter.com/decodemtl" target="_blank"><i class="fa fa-twitter-square fa-2x"></i></a></div>
      <div class="main-footer__email"><a href="mailto:hello@decodemtl.com"><i class="fa fa-envelope-o fa-2x"></i></a></div>
  </div>
  <div class="main-footer__contact">Vous pouvez nous trouver au <a href="https://goo.gl/maps/gDvsQpVnovz" target="_blank">3 Place Ville Marie</a>, nous joindre par
      <a href="mailto:hello@decodemtl.com">courriel</a>, ou par téléphone au <a href="tel:+14387887057">438.788.7057</a></div>
    <div class="main-footer__legal">
        <div class="main-footer__copyright">&copy; 2015 9320-7223 Québec inc.</div>
        <div class="main-footer__policy-terms">
            <a href="/fr/privacy-policy/">Confidentialité</a>
            <a href="/fr/terms">Conditions</a>
        </div>
    </div>

</footer>
{% include app-form_fr.html %}
<script src="/assets/js/app-bundle.js"></script>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-54876410-1', 'auto');
    ga('require', 'displayfeatures');
    ga('send', 'pageview');

</script>
<script src="//cdn.supportkit.io/supportkit.min.js"></script>
<script>
  SupportKit.init({appToken: '5whvfqoinngukw6qah52j5tmf'});
</script>
</body>
</html>
