---
layout: default_fr
title: Introduction au développement web
description: Apprenez les fondements du développement web à Montreal. 10 semaines d'apprentissage pour démarrer une carrière de développeur web. En savoir plus ici.
---
<section class="intro-section intro-section--course" data-image="/assets/images/classroom.jpg" data-width="1500" data-height="994">
  <div class="section-content">
    <h1 class="intro-section__headline">Introduction au<br>Développement Web<br>Temps Partiel</h1>
    <p class="intro-section__links">
      <a class="intro-section__link" href="#" data-reveal-id="application-form">Postulez</a>
    </p>
  </div>
</section>

<section class="course-about">
  <div class="section-content">
    <h1 class="course-about__heading">Apprenez les fondements du développement web</h1>
    <p class="course-about__subheading">Deux soirs par semaine pendant 10 semaines</p>
    <p class="course-about__price">$2,495</p>

    <ul class="course-about__points">
      <li class="course-about__point">
        <img class=course-about__icon" src="/assets/images/about-schedule.png">
        <p>
          10 semaines<br>
          Deux soirs par semaine
        </p>
      <li class="course-about__point">
      <img class=course-about__icon" src="/assets/images/personalized-help.png">
        <p>Aide personnalisée par nos instructeurs</p>
      <li class="course-about__point">
      <img class=course-about__icon" src="/assets/images/about-website.png">
        <p>Vous apprendrez à construire &amp; maintenir vos propres sites web</p>
    </ul>
  </div>
</section>

<section class="who-should-apply">
  <div class="section-content">
    <h1 class="who-should-apply__heading">Qui est admissible?</h1>
    <p class="who-should-apply__intro">
      Notre introduction au développement web s'addresse à tous. Notre objectif est de vous enseigner des connaissances générales dans le domaine du web,
      en vous apportant l'expérience pratique nécessaire afin que vous puissiez construire, gérer et développer vos sites web.
    </p>
    <p class="who-should-apply__faces">
      <img class="who-should-apply__face" src="/assets/images/who-woman.png">
      <img class="who-should-apply__face" src="/assets/images/who-man.png">
    </p>
    <p class="who-should-apply__great-for-heading">Ce cours est idéal pour:</p>
    <ul class="who-should-apply__great-for-list">
      <li class="who-should-apply__great-for-item">Les <span class="who-should-apply__great-for-profile">Entrepreneurs</span> qui cherchent à développer un MVP</li>
      <li class="who-should-apply__great-for-item">Les <span class="who-should-apply__great-for-profile">Designers</span> qui veulent donner vie à leurs créations</li>
      <li class="who-should-apply__great-for-item">Les <span class="who-should-apply__great-for-profile">Chef de produit</span> qui souhaitent acquérir des compétences plus techniques</li>
      <li class="who-should-apply__great-for-item">Les <span class="who-should-apply__great-for-profile">Salariés plein-temps</span> qui ne peuvent pas (encore) quitter leur job</li>
      <li class="who-should-apply__great-for-item">Les <span class="who-should-apply__great-for-profile">Passionnés de technologie</span> prêts à contrôler le monde</li>
      <li class="who-should-apply__great-for-item">Les <span class="who-should-apply__great-for-profile">Futurs étudiants plein-temps</span> qui veulent mettre un pied dans l'eau avant de se jeter</li>
    </ul>
    <p class="who-should-apply__not-sure">
      Pas sûr si ce cours est pour vous?<br>
      <a href="mailto:hello@decodemtl.com">Contactez-nous</a> et nous allons vous diriger dans la bonne direction.
    </p>
  </div>
</section>

<section class="what-will-learn">
  <div class="section-content">
    <h1 class="what-will-learn__heading">Ce que vous allez apprendre</h1>
    <p class="what-will-learn__text">
      Que vous lisiez un simple article ou utilisiez l'application web la plus complexe au monde, chaque page que vous voyez dans votre navigateur est bâtie avec HTML et CSS.
      Ce couple puissant est la fondation du développement web et le parfait point de départ d'une aventure de codeur.
    </p>
    <p class="what-will-learn__text">
      Dans ce cours, vous apprendrez à écrire du code irréprochable, conforme aux standards du web. Vous vous familiariserez avec les concepts du design inhérents au web.
      Le premier jour, nous installerons votre environnement de travail avec un éditeur de texte. Et au bout de 10 semaines passées ensemble, vous aurez votre premier site web réactif en ligne.
    </p>
  </div>
</section>


<section class="curriculum">
  <div class="section-content">
    <h1 class="curriculum__heading">Programme d'études</h1>
    <div class="course-curriculum">
      {% for unit in site.data.curriculum_fr.units %}
      <input id="course-curriculum__checkbox--unit{{forloop.index}}" class="course-curriculum__checkbox" type="radio" name="course-curriculum__checkbox">
      <div class="course-curriculum__unit">
        <label class="course-curriculum__header" for="course-curriculum__checkbox--unit{{forloop.index}}">
          <span class="course-curriculum__unit-number">Unit {{forloop.index}}</span>
          <span class="course-curriculum__unit-name">{{unit.name}}</span>
        </label>
        <div class="course-curriculum__content">
          {% for contentItem in unit.content %}
          {% case contentItem.type %}
          {% when 'list' %}
          <ul>
            {% for listItem in contentItem.items %}
            <li>{{listItem}}</li>
            {% endfor %}
          </ul>
          {% when 'paragraph' %}
          <p>{{contentItem.text}}</p>
          {% endcase %}
          {% endfor %}
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

<section class="instructor">
  <div class="section-content">
    <h1 class="instructor__heading">Rencontrez votre instructeur</h1>
    <article class="instructor-bio">
      <img class="instructor-bio__pic" src="/assets/images/lucas.jpg" alt="Lucas Lemmonier">

      <div class="instructor-bio__text">
        &nbsp;
        <h1 class="instructor-bio__name">Lucas Lemmonier</h1>

        <p class="instructor-bio__title">
          <!--<nobr>Head of Education</nobr>-->
          <!--/-->
          <!--<nobr>Co-Founder</nobr>-->
        </p>
        <p class="instructor-bio__text">
          Lucas est un développeur front-end indépendant, designer et instructeur depuis plus de 10 ans.
          Designer converti en développeur, Lucas est passionné par faire découvrir CSS aux débutants, et défend l'idée que coder soit accessible à tous.
        </p>
      </div>
    </article>
  </div>
</section>

<section class="course-faq">
  <div class="section-content">
    <h1 class="course-faq__heading">FAQ</h1>
    <div class="faq-list">
      {% for qa in site.data.faq_fr.list %}
      <input id="faq-list__checkbox--q{{forloop.index}}" class="faq-list__checkbox" type="radio" name="faq-list__checkbox">
      <div class="faq-list__question">
        <label class="faq-list__header" for="faq-list__checkbox--q{{forloop.index}}">
          {{qa.question}}
        </label>
        <div class="faq-list__content">
          <p>{{qa.answer}}</p>
        </div>
      </div>
      {% endfor %}
    </div>
    <p class="course-faq__still-questions">Encore des questions? <a href="mailto:hello@decodemtl.com">Contactez nous</a>.
    </p>
  </div>
</section>

<section class="upcoming-courses">
  <div class="section-content upcoming-courses__upcoming">
    <div class="upcoming-courses__heading">Mars 2016</div>
    <ul class="upcoming-courses__list">
      <li class="upcoming-courses__item">
        <p class="upcoming-courses__info">$2,495</p>

        <p class="upcoming-courses__info">1 Mars - 5 Mai</p>

        <p class="upcoming-courses__info">Mardi &amp; Jeudi de<br>
          <nobr>6pm - 9pm</nobr>
        </p>
      </li>
    </ul>
    <a class="upcoming-courses__reserve" href="#" data-reveal-id="application-form">Postulez</a>
  </div>

  <div class="section-content upcoming-courses__upcoming">
    <div class="upcoming-courses__heading">Mai 2016</div>
    <ul class="upcoming-courses__list">
      <li class="upcoming-courses__item">
        <p class="upcoming-courses__info">$2,495</p>

        <p class="upcoming-courses__info">31 Mai - 4 Août</p>

        <p class="upcoming-courses__info">Mardi &amp; Jeudi de<br>
          <nobr>6pm - 9pm</nobr>
        </p>
      </li>
    </ul>
    <a class="upcoming-courses__reserve" href="#" data-reveal-id="application-form">Postulez</a>
  </div>

</section>


<div id="application-form" class="application-form reveal-modal xlarge" data-reveal>
  <div class="application-form__content">
    <img class="application-form__logo" src="/assets/images/decodemtl-logo-black.png">

    <form class="application-form__form">
      <div class="application-form__input-line">
        <label class="application-form__label">Prénom</label>
        <input class="application-form__input" type="text" name="firstName">
      </div>
      <div class="application-form__input-line">
        <label class="application-form__label">Nom de famille</label>
        <input class="application-form__input" type="text" name="lastName">
      </div>
      <div class="application-form__input-line">
        <label class="application-form__label">Courriel</label>
        <input class="application-form__input" type="text" name="emailAddress">
      </div>
      <div class="application-form__input-line">
        <label class="application-form__label">ID Twitter</label>
        <input class="application-form__input" type="text" name="twitterId">
      </div>

      <div class="application-form__input-line">
        <label class="application-form__label">URL Profil Linkedin</label>
        <input class="application-form__input" type="text" name="linkedinUrl">
      </div>
      <div class="application-form__input-line">
        <label class="application-form__label">Où vivez-vous?</label>
        <input class="application-form__input" type="text" name="whereLive">
      </div>
      <div class="application-form__input-line">
        <label class="application-form__label">Quel est votre emploi/occupation courant?</label>
        <input class="application-form__input" type="text" name="currentOccupation">
      </div>
      <div class="application-form__input-line">
        <label class="application-form__label">Téléphone</label>
        <input class="application-form__input" type="text" name="phoneNumber">
      </div>
      <div class="application-form__input-line">
        <label class="application-form__label">Pour quel cours postulez-vous?</label>

        <div class="application-form__input">
          <label class="application-form__radio-label">
            <input type="radio" name="applyingTo" value="Part-Time (March 2016)">
            <span class="application-form__radio-text">Temps Partiel (Mars 2016)</span>
          </label>
          <label class="application-form__radio-label">
            <input type="radio" name="applyingTo" value="Full-Time (January 2016)">
            <span class="application-form__radio-text">Temps Plein (Janvier 2016)</span>
          </label><br>
          <label class="application-form__radio-label">
            <input type="radio" name="applyingTo" value="Part-Time (May 2016)">
            <span class="application-form__radio-text">Temps Partiel (Mai 2016)</span>
          </label>
        </div>
      </div>
      <div class="application-form__input-line">
        <label class="application-form__label">Comment avez-vous entendu parler de nous?</label>
        <input class="application-form__input" type="text" name="leadSource">
      </div>
      <div class="application-form__input-line">
        <label class="application-form__label">Pourquoi postulez-vous à DecodeMTL?</label>
        <textarea class="application-form__input" name="whyApplying"></textarea>
      </div>
      <div class="application-form__input-line">
        <label class="application-form__label">Quel est votre niveau d'éducation?</label>
        <textarea class="application-form__input" name="education"></textarea>
      </div>
      <div class="application-form__input-line">
        <label class="application-form__label">Quels sont vos passe-temps et passions dans la vie?</label>
        <textarea class="application-form__input" name="hobbies"></textarea>
      </div>
      <div class="application-form__input-line">
        <label class="application-form__label">Que voulez-vous faire après avoir complété le cours?</label>
        <textarea class="application-form__input" name="plans"></textarea>
      </div>
      <div class="application-form__input-line">
        <label class="application-form__label">Quelle est votre expérience en programmation?</label>

        <div class="application-form__input">
          <label class="application-form__radio-label">
            <input type="radio" name="codingBackground" value="no-coding">
            <span class="application-form__radio-text">Connaissances informatiques de base</span>
          </label>
          <label class="application-form__radio-label">
            <input type="radio" name="codingBackground" value="some-coding">
            <span class="application-form__radio-text">Un peu de code. Familier avec HTML/CSS</span>
          </label>
          <label class="application-form__radio-label">
            <input type="radio" name="codingBackground" value="moderate-coding">
            <span class="application-form__radio-text">Je peux créer une page d'accueil</span>
          </label>
          <label class="application-form__radio-label">
            <input type="radio" name="codingBackground" value="intermediate-coding">
            <span class="application-form__radio-text">Intermédiaire, j'ai construit des sites complets</span>
          </label>
        </div>
      </div>
      <button type="button" class="application-form__send-button">Envoyer</button>
    </form>
  </div>
  <a class="close-reveal-modal">&times;</a>
</div>
