---
layout: default
---
<header class="main-header">
  <div class="section-content">
    <div class="main-header__logo">
      <img class="main-header__logo-image" src="/assets/images/decodemtl-logo-white.png">
    </div>
    <label class="main-header__nav-burger-icon" for="main-header__nav-checkbox"></label>
    <nav class="main-header__nav">
      <input class="main-header__nav-checkbox" type="checkbox" id="main-header__nav-checkbox">
      <ul class="main-header__nav-list">
        <li class="main-header__nav-item">
          <a class="main-header__nav-link" href="#about">À Propos</a>
        </li>
        <li class="main-header__nav-item">
          <a class="main-header__nav-link" href="#curriculum">Curriculum</a>
        </li>
        <li class="main-header__nav-item">
          <a class="main-header__nav-link" href="#schedule">Horaire</a>
        </li>
        <li class="main-header__nav-item">
          <a class="main-header__nav-link" href="mailto:hello@decodemtl.com">Contact</a>
        </li>
        <li class="main-header__nav-item">
          <a class="main-header__nav-link" href="#faq">FAQ</a>
        </li>
        <li class="main-header__nav-item main-header__nav-item--apply">
          <a onclick="window.ga && ga('send', 'event', 'application form', 'open', 'nav menu')" class="main-header__nav-link" href="#" data-reveal-id="application-form">Postuler</a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="section-content">
    <div class="language-switcher-wrapper">
      <ul class="language-switcher">
        <li class="language-switcher__item"><a class="language-switcher__link" href="/">en</a></li>
        <li class="language-switcher__item"><a class="language-switcher__link" href="/fr/">fr</a></li>
      </ul>
    </div>
  </div>
</header>
<section class="intro-section" data-image="/assets/images/laptop.jpg" data-width="1600" data-height="700">
  <div class="section-content">
    <hgroup class="intro-section__heading-group">
      <h1 class="intro-section__headline">Apprenez le développement front-end</h1>
      <h2 class="intro-section__tagline">en 8 semaines</h2>
    </hgroup>
    <a onclick="window.ga && ga('send', 'event', 'application form', 'open', 'inside hero')" class="intro-section__apply-link" href="#" data-reveal-id="application-form">Postuler</a>
    <div class="intro-section__course-location">
      Offert à Montréal, Québec
    </div>
  </div>
</section>
<section id="about" class="about">
  <div class="section-content">
    <hgroup>
      <h2 class="section-heading section-heading--beta">Passez la première étape<br>pour devenir un développeur</h2>
      <h3 class="section-heading section-heading--strong section-heading--gamma">en apprenant le développement front-end</h3>
    </hgroup>

    <div class="about-points">
      <div class="about-points__item">
        <h3 class="about-points__heading">Qu'est-ce que le développement <nobr>front-end</nobr>?</h3>
        <i class="about-points__icon about-points__icon--laptop"></i>
        <p class="about-points__content">
          Le développement front-end vous permet de créer de beaux sites bien codés.
        </p>
      </div>
      <div class="about-points__item">
        <h3 class="about-points__heading">Que vais-je apprendre à faire?</h3>
        <i class="about-points__icon about-points__icon--lightbulb"></i>
        <p class="about-points__content">
          Vous apprendrez comment rapidement transformer des idées en prototypes, ainsi que construire
          des sites web bien structurés.
        </p>
      </div>
      <div class="about-points__item">
        <h3 class="about-points__heading">Quels sont les requis?</h3>
        <i class="about-points__icon about-points__icon--checkmark"></i>
        <p class="about-points__content">
          Ce cours est pour débutants désireux d'apprendre le développement web. Il vous sera demandé de
          mettre beaucoup d'effort personnel afin de profiter pleinement de la formation.
          <br>
          Un ordinateur portable est également requis.
        </p>
      </div>
    </div>
  </div>
</section>
<section id="curriculum" class="curriculum">
  <div class="section-content">
    <h2 class="section-heading section-heading--beta">
      Curriculum
    </h2>

    <div class="course-curriculum">
      {% for unit in site.data.curriculumfr.units %}
      <input id="course-curriculum__checkbox--unit{{forloop.index}}" class="course-curriculum__checkbox" type="radio" name="course-curriculum__checkbox">
      <div class="course-curriculum__unit">
        <label class="course-curriculum__header" for="course-curriculum__checkbox--unit{{forloop.index}}">
          <span class="course-curriculum__unit-number">Unité {{forloop.index}}</span>
          <span class="course-curriculum__unit-name">{{unit.name}}</span>
        </label>
        <div class="course-curriculum__content">
          {% for contentItem in unit.content %}
          {% case contentItem.type %}
          {% when 'list' %}
          <ul>
            {% for listItem in contentItem.items %}
            <li>{{listItem}}</li>
            {% endfor %}
          </ul>
          {% when 'paragraph' %}
          <p>{{contentItem.text}}</p>
          {% endcase %}
          {% endfor %}
        </div>
      </div>
      {% endfor %}
    </div>

  </div>
</section>
<section id="instructor" class="instructor">
  <div class="instructor__heading" data-image="/assets/images/web-developer.jpg" data-width="1600" data-height="1000"></div>
  <div class="section-content">
    <h2 class="section-heading section-heading--beta">Instructeur</h2>
    <div class="instructor__content">
      <div class="instructor__avatar-wrapper">
        <img class="instructor__avatar" src="/assets/images/ziad-saab.jpg" alt="Ziad Saab"/>
      </div>
      <blockquote class="instructor__data">
        <hgroup>
          <h1 class="instructor__name">Ziad Saab</h1>
          <h2 class="instructor__title">Développeur Web Full-Stack</h2>
        </hgroup>
        <p class="instructor__bio">
          Ziad est présentement un développeur web full-stack avec 12 ans d'expérience.
          Il a obtenu son B.Sc en informatique à l'université McGill. Ses projets les plus récents:
          enseigner un atelier <a target="_blank" href="http://ladieslearningcode.com/">"Ladies Learning Code"</a>,
          enseigner un atelier <a target="_blank" href="http://foundation.zurb.com/">Zurb Foundation</a>, et plusieurs
          projets <a target="_blank" href="https://github.com/ziad-saab">open-source</a>.
        </p>
      </blockquote>
    </div>
  </div>
</section>
<section id="schedule" class="schedule" data-image="/assets/images/montreal.jpg" data-width="1600" data-height="600">
  <div class="section-content">
    <h2 class="section-heading section-heading--beta section-heading--schedule">Horaire</h2>
    <div class="schedule__content">
      <div class="schedule__dates">
        <span class="schedule__date">2 Février</span>
        au
        <span class="schedule__date">27 Mars</span>
        <br>
        2015
      </div>
      <div class="schedule__times">
        <div class="schedule__days">Lundis &amp; Mercredis</div>
        <div class="schedule__hours">
          de
          <span class="schedule__hour">18:30 - 20:30</span>
        </div>
        <div class="schedule__hours">
          (Dernière semaine Lun-Ven 18:30 - 20:30 pm)
        </div>
      </div>
      <div class="schedule__limit">Limite de 6-8 participants</div>
    </div>
    <div class="schedule__tuition">
      Frais: 2,500 CDN<br>
      (Échéancier de paiement disponible)
    </div>
  </div>
</section>
<section id="faq" class="faq">
  <div class="section-content">
    <h2 class="section-heading section-heading--beta">FAQ</h2>
    <div class="faq-list">
      {% for qa in site.data.faqfr.list %}
      <input id="faq-list__checkbox--q{{forloop.index}}" class="faq-list__checkbox" type="radio" name="faq-list__checkbox">
      <div class="faq-list__question">
        <label class="faq-list__header" for="faq-list__checkbox--q{{forloop.index}}">
          {{qa.question}}
        </label>
        <div class="faq-list__content">
          <p>{{qa.answer}}</p>
        </div>
      </div>
      {% endfor %}
    </div>
    <a onclick="window.ga && ga('send', 'event', 'application form', 'open', 'after faq')" class="faq__apply-link" href="#" data-reveal-id="application-form">Cliquez pour postuler</a>
  </div>
</section>
<footer class="main-footer">
  <div class="section-content section-content--footer">
    <div class="main-footer__above">
      <div class="main-footer__logo">
        <img class="main-footer__logo-image" src="/assets/images/decodemtl-logo-white.png">
      </div>
      <dl class="main-footer__info">
        <dt class="main-footer__info-key">Adresse</dt>
        <dd class="main-footer__info-value">
          440 Place Jacques Cartier<br>
          Montreal, QC<br>
          H3Y 3B3
        </dd>
      </dl>
      <dl class="main-footer__info">
        <dt class="main-footer__info-key">Courriel</dt>
        <dd class="main-footer__info-value"><a class="main-footer__link" href="mailto:hello@decodemtl.com">hello@decodemtl.com</a></dd>
        <dt class="main-footer__info-key">Téléphone</dt>
        <dd class="main-footer__info-value">438-388-8880</dd>
      </dl>
    </div>
    <div class="main-footer__copyright">&copy; 2014 DecodeMTL</div>
  </div>
</footer>
</div>

<div id="application-form" class="application-form reveal-modal xlarge" data-reveal>
  <div class="application-form__content">
    <img class="application-form__logo" src="/assets/images/decodemtl-logo-black.png">

    <form class="application-form__form">
      <div class="application-form__input-line">
        <label class="application-form__label">Prénom</label>
        <input class="application-form__input" type="text" name="firstName">
      </div>
      <div class="application-form__input-line">
        <label class="application-form__label">Nom</label>
        <input class="application-form__input" type="text" name="lastName">
      </div>
      <div class="application-form__input-line">
        <label class="application-form__label">Courriel</label>
        <input class="application-form__input" type="text" name="emailAddress">
      </div>
      <div class="application-form__input-line">
        <label class="application-form__label">Téléphone</label>
        <input class="application-form__input" type="text" name="phoneNumber">
      </div>
      <div class="application-form__input-line">
        <label class="application-form__label">Ville</label>
        <input class="application-form__input" type="text" name="currentCity">
      </div>
      <div class="application-form__input-line">
        <label class="application-form__label">ID Twitter</label>
        <input class="application-form__input" type="text" name="twitterId">
      </div>
      <div class="application-form__input-line">
        <label class="application-form__label">Comment avez-vous entendu parler de nous?</label>
        <div class="application-form__input">
          <label class="application-form__radio-label">
            <input type="radio" name="leadSource" value="facebook">
            <span class="application-form__radio-text">Facebook</span>
          </label>
          <label class="application-form__radio-label">
            <input type="radio" name="leadSource" value="google">
            <span class="application-form__radio-text">Google</span>
          </label>
          <label class="application-form__radio-label">
            <input type="radio" name="leadSource" value="twitter">
            <span class="application-form__radio-text">Twitter</span>
          </label>
          <label class="application-form__radio-label">
            <input type="radio" name="leadSource" value="bing-yahoo">
            <span class="application-form__radio-text">Bing / Yahoo</span>
          </label>
          <label class="application-form__radio-label">
            <input type="radio" name="leadSource" value="word-of-mouth">
            <span class="application-form__radio-text">Bouche à oreille</span>
          </label>
          <label class="application-form__radio-label">
            <input type="radio" name="leadSource" value="other">
            <span class="application-form__radio-text">Autre</span>
          </label>
        </div>
      </div>
      <div class="application-form__input-line">
        <label class="application-form__label">Pourquoi postulez-vous à DecodeMTL?</label>
        <textarea class="application-form__input" name="whyApplying"></textarea>
      </div>
      <div class="application-form__input-line">
        <label class="application-form__label">Quelle est votre éducation?</label>
        <textarea class="application-form__input" name="education"></textarea>
      </div>
      <div class="application-form__input-line">
        <label class="application-form__label">Quels sont vos passe-temps? Qu'est-ce qui vous passionne?</label>
        <textarea class="application-form__input" name="hobbies"></textarea>
      </div>
      <div class="application-form__input-line">
        <label class="application-form__label">Que voulez-vous faire après la formation?</label>
        <div class="application-form__input">
          <label class="application-form__radio-label">
            <input type="radio" name="plans" value="developer">
            <span class="application-form__radio-text">Devenir un développeur</span>
          </label>
          <label class="application-form__radio-label">
            <input type="radio" name="plans" value="startup">
            <span class="application-form__radio-text">Travailler sur une startup</span>
          </label>
          <label class="application-form__radio-label">
            <input type="radio" name="plans" value="not-sure">
            <span class="application-form__radio-text">Pas sur</span>
          </label>
        </div>
      </div>
      <div class="application-form__input-line">
        <label class="application-form__label">Quel est votre parcours de programmation?</label>
        <div class="application-form__input">
          <label class="application-form__radio-label">
            <input type="radio" name="codingBackground" value="no-coding">
            <span class="application-form__radio-text">Aucune expérience, habileté de base avec ordinateurs</span>
          </label>
          <label class="application-form__radio-label">
            <input type="radio" name="codingBackground" value="some-coding">
            <span class="application-form__radio-text">Un peu d'expérience. Familier avec HTML/CSS</span>
          </label>
          <label class="application-form__radio-label">
            <input type="radio" name="codingBackground" value="moderate-coding">
            <span class="application-form__radio-text">Expérience modérée: je peux créer une page web</span>
          </label>
          <label class="application-form__radio-label">
            <input type="radio" name="codingBackground" value="intermediate-coding">
            <span class="application-form__radio-text">Expérimenté: je peux faire des sites complets</span>
          </label>
        </div>
      </div>
      <button type="button" class="application-form__send-button">Envoyer</button>
    </form>
  </div>
  <a class="close-reveal-modal">&times;</a>
</div>
<script src="/assets/js/app-bundle.js"></script>