---
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="description" content="Decode MTL is Montreal’s first & only front-end coding bootcamp. Learn HTML, CSS, & Javascript in just 8 weeks. Click here for more info.">
    <title>DecodeMTL | Front-End Coding Bootcamp in Montreal, QC</title>
    <link rel="icon" type="image/png" href="/assets/images/decodemtl-favicon-64.png">
    <meta property="og:image" content="http://www.decodemtl.com/assets/images/decodemtl-favicon-large.png">
    <link rel="stylesheet" href="assets/css/app.css">
    <link href="//fonts.googleapis.com/css?family=Droid+Sans:400,700|Droid+Serif:400,700" rel="stylesheet" type="text/css">
    <script src="assets/js/modernizr.js"></script>
  </head>
  <body>
    <div id="page">
      <header class="main-header">
        <div class="section-content">
          <div class="main-header__logo">
            <img class="main-header__logo-image" src="assets/images/decodemtl-logo-white.png">
          </div>
          <label class="main-header__nav-burger-icon" for="main-header__nav-checkbox"></label>
          <nav class="main-header__nav">
            <input class="main-header__nav-checkbox" type="checkbox" id="main-header__nav-checkbox">
            <ul class="main-header__nav-list">
              <li class="main-header__nav-item">
                <a class="main-header__nav-link" href="#about">About</a>
              </li>
              <li class="main-header__nav-item">
                <a class="main-header__nav-link" href="#curriculum">Curriculum</a>
              </li>
              <li class="main-header__nav-item">
                <a class="main-header__nav-link" href="#schedule">Schedule</a>
              </li>
              <li class="main-header__nav-item">
                <a class="main-header__nav-link" href="mailto:hello@decodemtl.com">Contact</a>
              </li>
              <li class="main-header__nav-item">
                <a class="main-header__nav-link" href="#faq">FAQ</a>
              </li>
              <li class="main-header__nav-item main-header__nav-item--apply">
                <a onclick="window.ga && ga('send', 'event', 'application form', 'open', 'nav menu')" class="main-header__nav-link" href="#" data-reveal-id="application-form">Apply</a>
              </li>
            </ul>
          </nav>
        </div>
      </header>
      <section class="intro-section" data-image="assets/images/laptop.jpg" data-width="1600" data-height="700">
        <div class="section-content">
          <hgroup class="intro-section__heading-group">
            <h1 class="intro-section__headline">Learn front-end web development</h1>
            <h2 class="intro-section__tagline">in 8 weeks</h2>
          </hgroup>
          <a onclick="window.ga && ga('send', 'event', 'application form', 'open', 'inside hero')" class="intro-section__apply-link" href="#" data-reveal-id="application-form">Apply now</a>
          <div class="intro-section__course-location">
            Proudly offered in Montreal, Quebec
          </div>
        </div>
      </section>
      <section id="about" class="about">
        <div class="section-content">
          <hgroup>
            <h2 class="section-heading section-heading--beta">Take the first step<br>in becoming a developer</h2>
            <h3 class="section-heading section-heading--strong section-heading--gamma">by learning front-end web development</h3>
          </hgroup>
          
          <div class="about-points">
            <div class="about-points__item">
              <h3 class="about-points__heading">What is <nobr>front-end</nobr> development?</h3>
              <i class="about-points__icon about-points__icon--laptop"></i>
              <p class="about-points__content">
                Front-end web development allows you to build beautifully crafted and well coded simple websites.
              </p>
            </div>
            <div class="about-points__item">
              <h3 class="about-points__heading">What will I learn how to do?</h3>
              <i class="about-points__icon about-points__icon--lightbulb"></i>
              <p class="about-points__content">
                You will learn how to quickly turn ideas into working prototypes, and be able to design and build
                a well structured website.
              </p>
            </div>
            <div class="about-points__item">
              <h3 class="about-points__heading">What are the course requirements?</h3>
              <i class="about-points__icon about-points__icon--checkmark"></i>
              <p class="about-points__content">
                This course is for beginners who are eager to learn web development. You will be required to put in
                a lot of work to get the most out of this course.
                <br>
                A laptop is also required.
              </p>
            </div>
          </div>
        </div>
      </section>
      <section id="curriculum" class="curriculum">
        <div class="section-content">
          <h2 class="section-heading section-heading--beta">
            Course<br>Curriculum
          </h2>
          
          <div class="course-curriculum">
            {% for unit in site.data.curriculum.units %}
            <input id="course-curriculum__checkbox--unit{{forloop.index}}" class="course-curriculum__checkbox" type="radio" name="course-curriculum__checkbox">
            <div class="course-curriculum__unit">
              <label class="course-curriculum__header" for="course-curriculum__checkbox--unit{{forloop.index}}">
                <span class="course-curriculum__unit-number">Unit {{forloop.index}}</span>
                <span class="course-curriculum__unit-name">{{unit.name}}</span>
              </label>
              <div class="course-curriculum__content">
                {% for contentItem in unit.content %}
                {% case contentItem.type %}
                {% when 'list' %}
                <ul>
                  {% for listItem in contentItem.items %}
                  <li>{{listItem}}</li>
                  {% endfor %}
                </ul>
                {% when 'paragraph' %}
                <p>{{contentItem.text}}</p>
                {% endcase %}
                {% endfor %}
              </div>
            </div>
            {% endfor %}
          </div>
            
        </div>
      </section>
      <section id="instructor" class="instructor">
        <div class="instructor__heading" data-image="assets/images/web-developer.jpg" data-width="1600" data-height="1000"></div>
        <div class="section-content">
          <h2 class="section-heading section-heading--beta">Instructor</h2>
          <div class="instructor__content">
            <div class="instructor__avatar-wrapper">
              <img class="instructor__avatar" src="assets/images/ziad-saab.jpg" alt="Ziad Saab"/>
            </div>
            <blockquote class="instructor__data">
              <hgroup>
                <h1 class="instructor__name">Ziad Saab</h1>
                <h2 class="instructor__title">Full-stack Web Developer</h2>
              </hgroup>
              <p class="instructor__bio">
                Ziad is currently a freelance full-stack web developer with 12 years of experience.
                He obtained his B.Sc. from McGill University. His most recent projects include teaching
                <a target="_blank" href="http://ladieslearningcode.com/">"Ladies Learning Code"</a>, a
                <a target="_blank" href="http://foundation.zurb.com/">Zurb Foundation</a> workshop and various
                <a target="_blank" href="https://github.com/ziad-saab">open-source projects</a>.
              </p>
            </blockquote>
          </div>
        </div>
      </section>
      <section id="schedule" class="schedule" data-image="assets/images/montreal.jpg" data-width="1600" data-height="600">
        <div class="section-content">
          <h2 class="section-heading section-heading--beta section-heading--schedule">Schedule</h2>
          <div class="schedule__content">
            <div class="schedule__dates">
              <span class="schedule__date">6 April</span>
              to
              <span class="schedule__date">29 May</span>
              <br>
              2015
            </div>
            <div class="schedule__times">
              <div class="schedule__days">Mondays &amp; Wednesdays</div>
              <div class="schedule__hours">
                from
                <span class="schedule__hour">6:30 - 8:30</span>
                pm
              </div>
              <div class="schedule__hours">
                (Last week Mon-Fri 6:30 - 8:30 pm)
              </div>
            </div>
            <div class="schedule__limit">Limit of 10 students</div>
          </div>
          <div class="schedule__tuition">
            Tuition: 2,500 CDN<br>
            (Payment plan available)
          </div>
        </div>
      </section>
      <section id="faq" class="faq">
        <div class="section-content">
          <h2 class="section-heading section-heading--beta">FAQ</h2>
          <div class="faq-list">
            {% for qa in site.data.faq.list %}
            <input id="faq-list__checkbox--q{{forloop.index}}" class="faq-list__checkbox" type="radio" name="faq-list__checkbox">
            <div class="faq-list__question">
              <label class="faq-list__header" for="faq-list__checkbox--q{{forloop.index}}">
                {{qa.question}}
              </label>
              <div class="faq-list__content">
                <p>{{qa.answer}}</p>
              </div>
            </div>
            {% endfor %}
          </div>
          <a onclick="window.ga && ga('send', 'event', 'application form', 'open', 'after faq')" class="faq__apply-link" href="#" data-reveal-id="application-form">Click here to apply</a>
        </div>
      </section>
      <footer class="main-footer">
        <div class="section-content section-content--footer">
          <div class="main-footer__above">
            <div class="main-footer__logo">
              <img class="main-footer__logo-image" src="assets/images/decodemtl-logo-white.png">
            </div>
            <dl class="main-footer__info">
              <dt class="main-footer__info-key">Address</dt>
              <dd class="main-footer__info-value">
                440 Place Jacques Cartier<br>
                Montreal, QC<br>
                H3Y 3B3
              </dd>
            </dl>
            <dl class="main-footer__info">
              <dt class="main-footer__info-key">Email</dt>
              <dd class="main-footer__info-value"><a href="mailto:hello@decodemtl.com">hello@decodemtl.com</a></dd>
              <dt class="main-footer__info-key">Phone</dt>
              <dd class="main-footer__info-value">438-388-8880</dd>
            </dl>
          </div>
          <div class="main-footer__copyright">&copy; 2014 DecodeMTL</div>
        </div>
      </footer>
    </div>

    <div id="application-form" class="application-form reveal-modal xlarge" data-reveal>
      <div class="application-form__content">
        <img class="application-form__logo" src="assets/images/decodemtl-logo-black.png">

        <form class="application-form__form">
          <div class="application-form__input-line">
            <label class="application-form__label">First Name</label>
            <input class="application-form__input" type="text" name="firstName">
          </div>
          <div class="application-form__input-line">
            <label class="application-form__label">Last Name</label>
            <input class="application-form__input" type="text" name="lastName">
          </div>
          <div class="application-form__input-line">
            <label class="application-form__label">Email Address</label>
            <input class="application-form__input" type="text" name="emailAddress">
          </div>
          <div class="application-form__input-line">
            <label class="application-form__label">Phone Number</label>
            <input class="application-form__input" type="text" name="phoneNumber">
          </div>
          <div class="application-form__input-line">
            <label class="application-form__label">Current City</label>
            <input class="application-form__input" type="text" name="currentCity">
          </div>
          <div class="application-form__input-line">
            <label class="application-form__label">Twitter ID</label>
            <input class="application-form__input" type="text" name="twitterId">
          </div>
          <div class="application-form__input-line">
            <label class="application-form__label">How did you hear about us?</label>
            <div class="application-form__input">
              <label class="application-form__radio-label">
                <input type="radio" name="leadSource" value="facebook">
                <span class="application-form__radio-text">Facebook</span>
              </label>
              <label class="application-form__radio-label">
                <input type="radio" name="leadSource" value="google">
                <span class="application-form__radio-text">Google</span>
              </label>
              <label class="application-form__radio-label">
                <input type="radio" name="leadSource" value="twitter">
                <span class="application-form__radio-text">Twitter</span>
              </label>
              <label class="application-form__radio-label">
                <input type="radio" name="leadSource" value="bing-yahoo">
                <span class="application-form__radio-text">Bing / Yahoo</span>
              </label>
              <label class="application-form__radio-label">
                <input type="radio" name="leadSource" value="word-of-mouth">
                <span class="application-form__radio-text">Word of mouth</span>
              </label>
              <label class="application-form__radio-label">
                <input type="radio" name="leadSource" value="other">
                <span class="application-form__radio-text">Other</span>
              </label>
            </div>
          </div>
          <div class="application-form__input-line">
            <label class="application-form__label">Why are you applying to DecodeMTL?</label>
            <textarea class="application-form__input" name="whyApplying"></textarea>
          </div>
          <div class="application-form__input-line">
            <label class="application-form__label">What is your education background?</label>
            <textarea class="application-form__input" name="education"></textarea>
          </div>
          <div class="application-form__input-line">
            <label class="application-form__label">What hobbies do you have? What are you passionate about in life?</label>
            <textarea class="application-form__input" name="hobbies"></textarea>
          </div>
          <div class="application-form__input-line">
            <label class="application-form__label">What do you want to do after completing the program?</label>
            <div class="application-form__input">
              <label class="application-form__radio-label">
                <input type="radio" name="plans" value="developer">
                <span class="application-form__radio-text">Become a developer</span>
              </label>
              <label class="application-form__radio-label">
                <input type="radio" name="plans" value="startup">
                <span class="application-form__radio-text">Work on an awesome startup</span>
              </label>
              <label class="application-form__radio-label">
                <input type="radio" name="plans" value="not-sure">
                <span class="application-form__radio-text">Not sure</span>
              </label>
            </div>
          </div>
          <div class="application-form__input-line">
            <label class="application-form__label">What is your coding background?</label>
            <div class="application-form__input">
              <label class="application-form__radio-label">
                <input type="radio" name="codingBackground" value="no-coding">
                <span class="application-form__radio-text">No coding experience, basic computer skills</span>
              </label>
              <label class="application-form__radio-label">
                <input type="radio" name="codingBackground" value="some-coding">
                <span class="application-form__radio-text">Some coding. Familiar with HTML/CSS</span>
              </label>
              <label class="application-form__radio-label">
                <input type="radio" name="codingBackground" value="moderate-coding">
                <span class="application-form__radio-text">Moderate coding. I can make a landing page.</span>
              </label>
              <label class="application-form__radio-label">
                <input type="radio" name="codingBackground" value="intermediate-coding">
                <span class="application-form__radio-text">Intermediate coding. I've built some full sites.</span>
              </label>
            </div>
          </div>
          <button type="button" class="application-form__send-button">Send</button>
        </form>
      </div>
      <a class="close-reveal-modal">&times;</a>
    </div>
    <script src="assets/js/app-bundle.js"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-54876410-1', 'auto');
      ga('send', 'pageview');

    </script>
    <!-- begin olark code -->
    <script data-cfasync="false" type='text/javascript'>/*<![CDATA[*/window.olark||(function(c){var f=window,d=document,l=f.location.protocol=="https:"?"https:":"http:",z=c.name,r="load";var nt=function(){
      f[z]=function(){
        (a.s=a.s||[]).push(arguments)};var a=f[z]._={
      },q=c.methods.length;while(q--){(function(n){f[z][n]=function(){
        f[z]("call",n,arguments)}})(c.methods[q])}a.l=c.loader;a.i=nt;a.p={
        0:+new Date};a.P=function(u){
        a.p[u]=new Date-a.p[0]};function s(){
        a.P(r);f[z](r)}f.addEventListener?f.addEventListener(r,s,false):f.attachEvent("on"+r,s);var ld=function(){function p(hd){
        hd="head";return["<",hd,"></",hd,"><",i,' onl' + 'oad="var d=',g,";d.getElementsByTagName('head')[0].",j,"(d.",h,"('script')).",k,"='",l,"//",a.l,"'",'"',"></",i,">"].join("")}var i="body",m=d[i];if(!m){
        return setTimeout(ld,100)}a.P(1);var j="appendChild",h="createElement",k="src",n=d[h]("div"),v=n[j](d[h](z)),b=d[h]("iframe"),g="document",e="domain",o;n.style.display="none";m.insertBefore(n,m.firstChild).id=z;b.frameBorder="0";b.id=z+"-loader";if(/MSIE[ ]+6/.test(navigator.userAgent)){
        b.src="javascript:false"}b.allowTransparency="true";v[j](b);try{
        b.contentWindow[g].open()}catch(w){
        c[e]=d[e];o="javascript:var d="+g+".open();d.domain='"+d.domain+"';";b[k]=o+"void(0);"}try{
        var t=b.contentWindow[g];t.write(p());t.close()}catch(x){
        b[k]=o+'d.write("'+p().replace(/"/g,String.fromCharCode(92)+'"')+'");d.close();'}a.P(2)};ld()};nt()})({
      loader: "static.olark.com/jsclient/loader0.js",name:"olark",methods:["configure","extend","declare","identify"]});
    /* custom configuration goes here (www.olark.com/documentation) */
    olark.identify('6475-664-10-3669');/*]]>*/</script><noscript><a href="https://www.olark.com/site/6475-664-10-3669/contact" title="Contact us" target="_blank">Questions? Feedback?</a> powered by <a href="http://www.olark.com?welcome" title="Olark live chat software">Olark live chat software</a></noscript>
    <!-- end olark code -->
  </body>
</html>
